@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --main-text-color-white: #ffffff;
  --main-text-color-black: #000000;
  --div-color: #d989e0;
  --background-color: #1a1221;
}

body {
  color: var(--main-text-color-black);
  background: var(--background-color);
}

:root .content {
  color: white;
}

.blur-circle {
  background-color: #3f2645;
  border-radius: 100px;
  -webkit-filter: blur(100px);
  filter: blur(100px);
  height: 20rem;
  position: absolute;
  width: 20rem;
}
