@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --main-text-color-white: #ffffff;
  --main-text-color-black: #000000;
  --div-color: #d989e0;
  /* --background-color: #18001d; */
  --background-color: #000000;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 5px;
}

.no-scroll::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: #4a5568;
  border-radius: 10px;
  transition: all ease-in 0.3s;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #d989e0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  color: var(--main-text-color-black);
  background: var(--background-color);
}

:root .content {
  color: white;
}

.blur-circle {
  background-color: #3f2645;
  border-radius: 100px;
  -webkit-filter: blur(100px);
  filter: blur(100px);
  height: 20rem;
  position: absolute;
  width: 20rem;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 1rem;
  padding: 2rem 1rem;
  transition: 0.5s;
}

.navbar.scrolled {
  background: rgba(0, 0, 0, 0.6);
  border-bottom: 2px solid #992189;
  border-image: linear-gradient(90deg, transparent, #992189, transparent) 30;
  backdrop-filter: blur(20px);
  padding: 15px 1rem;
  height: 60px;
}

.text-link {
  --tw-text-opacity: 1;
  color: rgb(167 139 250 / var(--tw-text-opacity));
}

.hover\:bg-neon-pink:hover {
  background-color: #f910f9;
  box-shadow: 0 0 10px #f910f9, 0 0 20px #f910f9, 0 0 30px #f910f9;
}

.neon-text-shadow {
  text-shadow: 0 0 10px #f910f9, 0 0 20px #f910f9, 0 0 30px #f910f9;
}

.large-h1-span {
  background: linear-gradient(
    to right top,
    #801ae5,
    #c500be,
    #e90095,
    #f9006e,
    #fc094d,
    #fd1c4d,
    #fe274e,
    #ff304e,
    #ff0070,
    #ff0098,
    #ff00c7,
    #f910f9
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.main-span {
  background: -webkit-linear-gradient(
    -86deg,
    #801ae5,
    #c500be,
    #e90095,
    #f9006e,
    #fc094d,
    #fd1c4d,
    #fe274e,
    #ff304e,
    #ff0070,
    #ff0098,
    #ff00c7,
    #f910f9
  );
  -webkit-background-clip: text;
  -webkit-text-stroke: 5px transparent;
  z-index: 1;
  text-transform: uppercase;
  padding-top: 10px;
  padding-left: 0;
  font-size: 100px;
  font-weight: 700;
  line-height: 100%;
  position: absolute;
  top: 16px;
  right: 4px;
  margin-top: -10px;
}
